body {
    box-sizing: border-box;
    background-color: rgb(67, 69, 70);
 }

.logo {
    font-weight: 600;
    font-size: larger;
}

main {
    padding-top: 4em;
    position: relative;
    display: flex;
    flex: 1 3;
    
}

.box {
    margin: auto 0;
    position: relative;
    overflow: hidden;
  }
  .box:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 1;
    opacity: 1;
    transition: all 0.4s ease-in-out;
  }

  .box-inner img {
    transition: all 0.4s ease-in-out;
  }

  .text {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -40px;
    text-align: center;
    z-index: 2;
  }

  .text h2 {
    font-family: 'Forum', cursive;
    color: orangered;
    display: inline-block;
    font-size: 50px;
    line-height: 75px;
    font-weight: 400;
    text-transform: uppercase;
    border-width: 1px 0;
    border-color: rgba(255,255,255,0.5);
    border-style: solid;
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }

  .box:hover:before {
    opacity: 0.2;
  }
  .box:hover img {
    transform: scale(1.1);
  }

  .box:hover .text h2 {
    opacity: 1;
  }

  article {
    display: block;
  }

  .post {
    position: relative;
    width: 100%;
    margin: auto 0;
  }

  .post:before, 
  .post a:before,
  .post a:after {
    content: "";
    opacity: 1;
    position: absolute;
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
  }

  .post:before {
    background: rgba(255, 255, 255, .2);
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  } 

  .post:hover:before {
    opacity: 1;
  }
  
  .post:hover a:before, 
  .post:hover a:after {
    opacity: 1;
    transform: scale(1);
  }

  .post:hover img:before{
    opacity: 0.9;
  }

  .post:hover img:after{
    opacity: 0;
  }

  .post a:before {
    border-bottom: 1px solid orangered;
    border-top: 1px solid orangered;
    bottom: 30px;
    left: 20px;
    right: 20px;
    top: 30px;
    transform: scale(0, 1);
    transform-origin: 0 0;
  }

  .post a:after {
    border-left: 1px solid orangered;
    border-right: 1px solid orangered;
    bottom: 20px;
    left: 30px;
    right: 30px;
    top: 20px;
    transform: scale(1, 0);
    transform-origin: 100% 0 ;
  }

.lang {
  background-color: orange;
  /* border-radius: 45%; */
}

.short-description {
  margin-top: 25px !important;
}

.short-line {
  color: orange;
}

.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: orange;
}

.skill-icon img {
  height: 100px;

}

 #contact {
   text-align: center;
   border: 1px solid orange;
   padding: 2rem;
   border-radius: 1rem;
 }

 .thanks-message {
  font-family: 'Roboto', sans-serif;
 }

 span,
 i {
   color: orange;
 }

 @media screen and (max-width: 425px) {
.skills {
    display: grid;
    grid-template-columns: 1fr;
}
}