body {
    box-sizing: border-box;
    background-color: rgb(151, 220, 241);
 }

.overlay-dark {
    background-color: rgba(black, 0.4);
}

main {
    border: 1px solid black;
    padding-top: 4em;
    position: relative;
    display: flex;
    flex: 1 3;
  }

.list-group {
    order: 1;
}

.scrollspy-example {
    order: 2;
}

.bd-example {
    position: relative;
    padding: 1rem;
    margin: 1rem -15px 0;
    border: solid #f8f9fa;
    border-width: .2rem 0 0;
    height: 800px !important;
}

.right-part{
    position: relative;
    height: 500px !important;
    margin-top: 0.5rem;
    overflow: auto;
}

.list-group-item-action {
    
}